ul class="nav nav-tabs"
  li = link_to tag_icon(:list, pat("Aktualny")), url(:themes, :index)
  li = link_to tag_icon(:edit, pat(:edit)), url(:themes, :edit)
  li class="active" = link_to tag_icon(:plus, pat(:new)), url(:themes, :new)