.body-welcome {
  min-width:100%; 
  min-height:100%;
  padding:0;
  margin:0;
  font-family:Ubuntu;
  background: url(../images/mario/mario-bros-main2.jpg) no-repeat bottom center; 
  background-size: cover; 
  background-attachment: fixed;
}

.login-button {
  position: absolute;
  bottom: 300px;
  left: 40%;
}

.body-main {
  width:100%; 
  height:100%;
  padding:0;
  margin:0;
  font-family:Ubuntu;
  background: url(../images/mario/background2.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

.sidebar {
  position: fixed; 
  width: 20%; 
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  ms-box-sizing: border-box;
  webkit-box-sizing: border-box; 
  moz-box-sizing: border-box;
  float:left;
  background: rgba(150, 150, 150, 0.1);
}

.content {
  width:80%; 
  height: 100%;
  float:right;
}

.top-bar {
  
  padding:10px;
  background: rgba(230,230,230,0.6);
  
}
  
.menu-item {
  display: inline;
  padding: 5px;
}

.