= form_for :message, url(:messages, :create), :class => 'form-horizontal' do |f|
      = f.text_field :content, :required => true, :style => "width:400px;"
      = f.submit $send_message_button, :class => "btn btn-primary", :style => "margin-left: 10px;"
      