div style = "text-align: center;"
  img src = session[:current_user].image style = "border-radius: 50%; width: 50px; max-width: 100%;"
  p= link_to "#{session[:current_user].firstname} #{session[:current_user].lastname}", url_for(:users, :index, :id => session[:current_user])
  p= session[:current_user].email

hr


-# show current level of an user
-actions = Action.where(confirmed: true, user_id: session[:current_user].id).sum(:points) 

-levels = Level.order(:points)

-current_level = nil
-next_level = nil

-levels.each_with_index do |level,index|
  -if actions >= level.points
    -current_level = level
    -next_level = levels[index + 1]


img style = "width: 100%; border-radius: 50%;" src = current_level.image

p= current_level.name

-if current_level.description
  p= current_level.description
  
p= "#{actions} punktów"


-percent = (actions.to_f - current_level.points) / next_level.points * 100
-percent = percent.floor

p= "#{percent}% to next level"
hr


p= link_to "Wyloguj", '/logout'